@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "inconsolata";
	src: url(./assets/fonts/static/Inconsolata-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@layer base {
	body {
		font-family: "inconsolata"; /* Replace with your font */
	}
}
